.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.wrapper{
    background-color: var(--softBg);
    padding: 100px 120px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.socialButton{
    padding: 1rem;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.socialButton:first-child{
    background-color: #ff5555;

}

.socialButton:nth-child(2){
    background-color: black;

}

.socialButton:nth-child(3){
    background-color: #087bea;

}

@media screen and (max-width: 1024px) {
   .wrapper{
    padding: 90px 100px;
   } 
}

@media screen and (max-width: 768px) {
    .wrapper{
    padding: 90px 90px;
   } 
   .socialButton{
    padding: .9rem;
    font-size: 15px;
   }
}

@media screen and (max-width: 640px) {
  .wrapper {
    padding: 80px 20px;
    width: 100%;
    margin: 0 1.3rem;
  }

  .socialButton {
    padding: 0.8rem 1rem;
    font-size: 13px;
    text-align: center;
  }
}
