.container{
    flex: 6;
    width: 100%;
    padding-right: 3rem;
}

.title{
    font-size: 1.5em;
}

.card{
    margin-top: 2.5rem;
    display: flex;
    gap: 2rem;
}

.image{
    object-fit: cover;
}

.cardImg {
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
}

.cardDescTitle{
    flex: 1;
    font-size: 20px
    
}

.cardDescPara{
font-size: 14px;
    color: var(--softTextColor);
    text-align: justify;
}

.space{
    margin-top: 1rem;
}

.dateConatiner{
    font-size: 14px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.date{
    color: var(--softTextColor);
}

.culture{
color: crimson;
}

.cardButton{
    border: none;
    background-color: gray;
    font-size: 12px;
    padding: .6rem;
    border-radius: 5px;
    margin-top: 1.4rem
}


@media screen and (max-width: 1280px) {
    .dateConatiner{
        font-size: 12px
    }
    .cardDescTitle{
    font-size: 16px 
    }
    .cardDescPara{
    font-size: 12px;
   
}
}

@media screen and (max-width: 1024px) {
    .container{
        padding-right: 0rem;
    }
   
}

@media screen and (max-width: 768px) {
    .dateConatiner{
        font-size: 10px
    }
    .cardDescTitle{
    font-size: 14px 
    }
    .cardDescPara{
    font-size: 10px;
}
.cardButton{
    font-size: 10px;
    padding: .4rem;
}
}

@media screen and (max-width: 640px) {
    .container .card{
        display: block;
    }
    .cardImg{
        aspect-ratio: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .image{
        width: 100%;
    }
}