.container{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6em;
}

.title{
    padding-top: 45px;
}

.post{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    gap: 3rem;
    overflow: visible;
}

.postImg{
    flex: 1;
    height: 400px;
    position: relative;
}

.image{
    object-fit: cover;
}

.postDesc{
    flex: 1;
    color: var(--softColor);
    text-align: justify;
}

.postDescTitle{
    font-size: 20px;
}

.postDescPara{
    margin-top: 1rem;
    font-size: 14px;
    color: var(--softTextColor);
}

.button{
    cursor: pointer;
    margin-top: 2rem;
    font-weight: bold;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    width: max-content;
    background-color: rgb(195, 193, 193);
}


@media screen and (max-width: 1024px) {
    .title{
        font-size: 15px;
    }
    .postDescTitle{
        font-size: 17px;
    }
    .postDescPara{
        font-size: 13px;
    }
    
}

@media screen and (max-width: 768px) {
    .container{
        height: 85vh;
    }
    .title{
        font-size: 14px;
    }
    .postImg{
        height: 360px;
    }
}

@media screen and (max-width: 640px) {
    .container{
        height: 100%;
    }
    .title{
        font-size: 13px;
    }
    .post{
        display: flex;
        flex-direction: column;
    }

    .postImg {
        flex: none;
        width: 100%;
        height: 20rem;
    }

    .button{
    margin-top: 1rem;
    padding: 12px 16px;
    }
    

}