.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title{
    font-size: 1.5em;

}

.categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    height: 46px;
    width: 15%;
    justify-content: center;
    border-radius: 10px;
}

.image{
    border-radius: 50%;
}

.categories .style{
    background-color: #57c4ff31;

}

.categories .fashion{
     background-color: #da85c731;
    
}

.categories .food{
     background-color: #7fb88133;
    
}

.categories .travel{
     background-color: #ff795736;
    
}

.categories .culture{
     background-color: #5e4fff31;
    
}


@media screen and (max-width: 1024px) {
    .category{
        font-size: .8em;
        height: 40px;
    }
    

}

@media screen and (max-width: 768px) {
    .title{
        font-size: 1.3em;
    }
    .category{
        width: 18%;
    }
}

@media screen and (max-width: 640px) {
    .container{
        margin-top: 2.5rem;
    }
    .categories{
        display: flex;
        flex-direction: column;
        gap: 1em;
        
    }
    .category{
        width: 100%;
        align-items: center;
    }
}